@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
/* SHARED STYLE */
.gradient-background {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}
.gradient-color {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MAIN STYLING  */

/* navbar styling */
.navbar {
  background-color: #1a0b2e;
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  opacity: 90%;
}
.logo {
  font-size: 1.2rem;
  margin: 25px 0 25px;
}
.tech {
  color: white;
}
.btn {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 12.5px 16px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* banner styling */
.banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-img {
  text-align: center;
  /* margin-bottom: 40px; */
}
.hero-circle {
  width: 350px;
  position: relative;
  top: 80px;
}
.microphone {
  position: absolute;
  right: 700px;
  top: 250px;
}

.banner-info {
  text-align: center;
  margin-top: 120px;
}
.banner-info h1 {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 3.75rem;
  margin-bottom: 8px;
}
.bn-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
}
.banner-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* margin-bottom: 100px; */
}
#sub-btn {
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12.5px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#spotify-btn {
  gap: 8px;
}
#sub-btn,
#spotify-btn {
  margin-bottom: 100px;
}
