@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
/* SHARED STYLE */
.gradient-background {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}
.gradient-color {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.middle-container {
  max-width: 1200px;
  margin: 0 auto;
}
/* MAIN STYLING  */

/* navbar styling */
.navbar {
  background-color: #1a0b2e;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content img {
  display: none;
}
.nav-links {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  opacity: 90%;
}
.logo {
  font-size: 1.2rem;
  margin: 25px 0 25px;
}
.tech {
  color: white;
}
.btn {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 12.5px 16px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* banner styling */
.banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-img {
  text-align: center;
  padding-bottom: 29px;
}
.hero-circle {
  width: 350px;
  position: relative;
  top: 80px;
  left: 105px;
}
.microphone {
  position: relative;
  top: -12px;
  left: -130px;
}
.new {
  color: #1a0b2e;
  background-color: #00ff88;
  padding: 8px 16px;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  position: relative;
  top: -230px;
  left: -120px;
}
.banner-info {
  text-align: center;
  padding-bottom: 100px;
}
.banner-info h1 {
  color: white;
  text-align: center;
  font-size: 3.75rem;
  margin-top: 70px;
  margin-bottom: 8px;
}
.bn-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}
.banner-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* margin-bottom: 100px; */
}
#sub-btn {
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12.5px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#spotify-btn {
  border: none;
  gap: 8px;
}
#sub-btn,
#spotify-btn {
  cursor: pointer;
}
/* about styling */
.about {
  background-color: #1a0b2e;
  text-align: center;
}
.podcast {
  padding: 50px 0 80px;
}
.podcast h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 16px;
}
.podcast p {
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.rating {
  padding: 80px 0 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.rating-card h1 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}
.rating-card p {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
/* choose styling */
.choose {
  background-color: #230e3d;
}
.choose h1 {
  padding: 120px 0 40px;
  font-size: 3rem;
  color: white;
  text-align: center;
}
.choose-container {
  display: grid;
  gap: 30px;
  padding-bottom: 120px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#headphone {
  padding-top: 107px;
  grid-row: span 2;
}
#device {
  grid-column: span 2;
}
#location {
  grid-column: span 2;
}
#interview {
  grid-column: span 2;
}

.choose-card {
  padding: 40px;
  background-color: #2c0f53;
  border-radius: 40px;
}
.choose-card h3 {
  margin: 16px 0 16px;
  font-size: 1.5rem;
  color: white;
}
.choose-card p {
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* feature styling */
.feature {
  background-color: #1a0b2e;
  text-align: center;
}
.episodes {
  padding: 120px 0 120px;
}
.episodes h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}
.episode-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.episode-card-info {
  background-color: #250d44;
  padding: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.episode-card iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.episode-card h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 12px;
  text-align: left;
}
.episode-card p {
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}
.video-min {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
}
.video-min p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: #00ff88;
}
.host {
  padding-bottom: 120px;
}
.host h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}
.host-card {
  background-color: #2c0f53;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 40px;
}
.host-card-info h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 16px;
}
.host-card-info p {
  font-size: 1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  margin-bottom: 16px;
}
.host-link {
  text-align: left;
  display: flex;
  gap: 8px;
  /* justify-content: center; */
  align-items: center;
}
.host-links {
  border: 1px solid #533c72;
  border-radius: 50%;
  padding: 12px;
}

/* footer styling */
footer {
  background-image: url(./assets/footer-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-container {
  text-align: center;
  padding: 70px 0 100px;
}
.footer-container h1 {
  font-size: 4rem;
}
.footer-links {
  width: 550px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 32px;
}
.footer-apps {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.footer-container p {
  font-size: 1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 576px) {
  .nav-links,
  .btn {
    display: none;
  }
  .logo {
    font-size: 1rem;
    padding-left: 20px;
  }
  .nav-content img {
    display: flex;
    padding-right: 20px;
  }
  .banner {
    background-image: url(./assets/footer-bg-mob.png);
    background-size: contain;
  }
  .banner-img {
    padding-bottom: 10px;
  }
  .banner-info {
    padding-top: 85px;
    padding-bottom: 30px;
  }
  .banner-info h1 {
    margin-top: 2px;
    font-size: 3rem;
    margin-top: 11px;
    margin-bottom: 8px;
  }
  .hero-circle {
    width: 200px;
    top: 80px;
    left: 49px;
  }
  .microphone {
    width: 60px;
    top: 20px;
    left: -85px;
  }
  #spotify-btn {
    display: flex;
  }
  .new {
    padding: 5px;
    font-size: 0.8rem;
    position: absolute;
    width: 60px;
    top: 185px;
    left: 315px;
  }
  .rating-card h1 {
    font-size: 2.5rem;
  }
  .podcast {
    padding: 40px 20px;
  }
  hr {
    width: 470px;
  }
  .rating {
    padding: 40px 0;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .podcast h1 {
    font-size: 2rem;
  }
  .choose h1 {
    padding: 40px 0 16px;
    font-size: 2rem;
  }
  .choose-container {
    padding-bottom: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  #headphone {
    padding-top: 35px;
    grid-column: span 1;
  }
  #device {
    grid-column: span 1;
  }
  #location {
    grid-column: span 1;
  }
  #interview {
    grid-column: span 1;
  }
  .choose-card {
    padding: 24px;
    margin: 0 20px;
  }
  .episodes {
    padding: 40px 0 60px;
  }
  .episodes h1 {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .episode-container {
    padding: 0 20px;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
  .host {
    padding-bottom: 24px;
    margin: 0 20px;
  }
  .host h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .host p {
    text-align: center;
  }
  .host-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 20px;
  }
  .host-link {
    justify-content: center;
  }
  footer {
    background-image: url(./assets/footer-bg-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer-container {
    padding: 10px 20px 40px;
  }
  .footer-container h1 {
    font-size: 2.5rem;
  }
  .footer-links {
    width: 400px;
    margin: 0 auto;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 32px;
  }
  .episode-card iframe {
    width: 100%;
  }
}
